<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta class="UFT-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
  </head>
  <body>
    <header>
    </header>
    <nav>left</nav>
    <main>
      <h2 class="center">初めまして屋田秀貴と申します。</h2>
    </main>
    <aside>right</aside>
    <footer>
      <p class="foot"> All rights presented by hidetaka-yada.</p>
    </footer>
  </body>
</html>