// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
  display: grid;
  grid-template: 
      "header header header header header" 150px
      "...... ...... ...... ...... ......" auto
      "left   ...... center ...... right " 1fr
      "...... ...... ...... ...... ......" auto
      "footer footer footer footer footer" 150px
      / 150px auto 1fr auto 150px; /* 横幅の指定*/
}

header{
  background-color: red;
  grid-area: header;
}

nav{
  background-color: silver;
  grid-area: left;
}

main{
  background-color: white;
  grid-area: center;
  letter-spacing: 5px;
  font-size: 40px;
}

.center{
  font-family: 'Noto Sans Japanese',sans-serif;
  font-weight: 400;
}

aside{
  background-color: yellowgreen;
  grid-area: right;
}

footer{
  position: relative;
  background-color: aqua;
  grid-area: footer;
}

.foot{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
    body {
        grid-template: 
            "header" 150px
            "center" 1fr
            "left  " /* 指定がなければauto*/
            "right "
            "footer" 300px;
    }
}